body{
    font-family:'Times New Roman', Times, serif;
    background-color: peru;
    text-align: center;
    font-size: 1.2rem;
}

label{
    display: block;
    margin: 15px auto;
    width: 55%;
}

input{
    padding:5px;
}

button{
    margin-top:20px;
    padding: 10px;
    font-size: 15px;
}